.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: fit-content;
  width: 100%;
  padding-top:10vh;
}

.wrap__image{
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.image{
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 300ms ease-out
}

.image:hover{
  scale: 1.025;
  filter:sepia(50%);
}